:host {
  width: 100%;
}
.offenders {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "actions actions"
    "map offenders";
  margin-top: 60px;
  &__actions {
    grid-area: actions;
    margin-bottom: 60px;
  }
  &__map {
    grid-area: map;
  }
  &__list {
    grid-area: offenders;
  }
}
