<div class="offenders">
  <section class="offenders__actions">
    <button (click)="addOffender()" mat-raised-button color="primary">
      + New Offender
    </button>
  </section>
  <section class="offenders__map">
    <app-offenders-map
      *ngIf="offenders$ | async as offenders"
      [offenders]="offenders"
    ></app-offenders-map>
  </section>
  <section class="offenders__list">
    <mat-spinner *ngIf="loading$ | async" class="loader"></mat-spinner>
    <div class="offenders_items">
      <app-offender
        *ngFor="let offender of offenders$ | async"
        [offender]="offender"
        (edit)="editOffender($event)"
      ></app-offender>
    </div>
    <div class="pagination">
      <app-pagination
        *ngIf="offendersPagedList$ | async as pagedData"
        [totalPages]="pagedData.totalElements"
        [page]="pagedData.number"
        (pageChanged)="pageChanged($event)"
      ></app-pagination>
    </div>
  </section>
</div>
