<div class="offender">
  <div class="offender__photo">
    <mat-icon aria-hidden="false" aria-label="Offender Picture">
      account_circle
    </mat-icon>
  </div>
  <div class="offender__details">
    <p class="offender__name">
      Last name: <span>{{ offender?.lastName }}</span>
    </p>
    <p class="offender__name">
      First name: <span>{{ offender?.firstName }}</span>
    </p>
    <p>
      Latitude: <span>{{ offender?.position?.latitude }}</span>
    </p>
    <p>
      Longitude: <span>{{ offender?.position?.longitude }}</span>
    </p>
  </div>
  <div class="offender__actions">
    <mat-icon
      class="offender__action"
      aria-hidden="false"
      aria-label="Offender Picture"
      (click)="editOffender()"
    >
      edit
    </mat-icon>
  </div>
</div>
