<div class="offender">
  <div class="offender__photo">
    <img
      class="offender__photo--image"
      *ngIf="offender?.picture; else icon"
      [src]="offender?.picture"
      alt="Offender Photo"
      width="40px"
    />
    <ng-template #icon>
      <mat-icon aria-hidden="false" aria-label="Offender Picture">
        account_circle
      </mat-icon>
    </ng-template>
  </div>
  <div class="offender__details">
    <p id="offender_last_name" class="offender__name">
      Last name: <span>{{ offender?.lastName }}</span>
    </p>
    <p id="offender_first_name" class="offender__name">
      First name: <span>{{ offender?.firstName }}</span>
    </p>
    <p id="offender_latitude">
      Latitude: <span>{{ offender?.position?.latitude }}</span>
    </p>
    <p id="offender_longitude">
      Longitude: <span>{{ offender?.position?.longitude }}</span>
    </p>
  </div>
  <div class="offender__actions">
    <mat-icon
      id="edit_offender"
      class="offender__action"
      aria-hidden="false"
      aria-label="Offender Picture"
      (click)="editOffender()"
    >
      edit
    </mat-icon>
  </div>
</div>
