<div class="offender">
  <div class="offender__photo">
    <mat-icon aria-hidden="false" aria-label="Offender Picture">
      account_circle
    </mat-icon>
  </div>
  <div class="offender__details">
    <p class="offender__name">Last name: <span>Pierre</span></p>
    <p class="offender__name">First name: <span>Dupont</span></p>
    <p>Latitude: <span>-42.8999</span></p>
    <p>Longitude: <span>4.6446</span></p>
  </div>
  <div class="offender__actions">
    <mat-icon
      class="offender__action"
      aria-hidden="false"
      aria-label="Offender Picture"
    >
      edit
    </mat-icon>
  </div>
</div>
