@use "/src/assets/styles/variables" as colors;
.offender {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-right: 16px;
  margin-bottom: 10px;
  background-color: colors.$light-grey;
  &__photo {
    mat-icon {
      font-size: 70px;
      color: colors.$primary;
    }
  }
  &__details {
    font-size: 12px;
    p {
      margin: 0;
      &:first-of-type {
        margin-top: 10px;
      }
      &:last-of-type {
        margin-bottom: 10px;
      }
    }
    .offender__name {
      margin-bottom: 2px;
      color: grey;
      span {
        color: initial;
      }
    }
  }
  &__actions {
    color: colors.$primary;
    .offender__action {
      cursor: pointer;
    }
  }
}
